<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="css/style.css" rel="stylesheet">
<title>Sign In</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
</head>
<body ng-app="userApp" ng-controller="userController" class="ng-scope"
	ng-cloak>
	<div class="header">
		<h1>
			<a href="index.html" id="StartPage">SuperWoman</a>
		</h1>
	</div>
	<nav>
		<div class="container">
			<ul>
				<li><a href="aboutUs.html">About Us</a></li>
				<li>
					<div class="dropdown">
						<a href="categoryLevels.html"> Play Game </a>
						<ul class="dropdown-items">
							<li><a href="levelsMath.html">Math</a></li>
							<li><a href="levelsHistory.html">History</a></li>
							<li><a href="levelsItems.html">WordHunting</a></li>
						</ul>
					</div>
				</li>
				<a href="profile.html">Profile</a>
				<li><a href="signUp.html">SignUp</a></li>
			</ul>
		</div>
	</nav>
	<form action="j_spring_security_check">
		<h2>Sign In</h2>
		<label>User Name:</label><br> <input type="text"
			name="<%=UsernamePasswordAuthenticationFilter.SPRING_SECURITY_FORM_USERNAME_KEY%>"
			placeholder="Enter Username" ng-model="username"><br> <label>Password:</label><br>
		<input type="password"
			name="<%=UsernamePasswordAuthenticationFilter.SPRING_SECURITY_FORM_PASSWORD_KEY%>"
			placeholder="Enter Password" ng-model="password"><br>
		<button ng-click="welcomeUser()">SIGN IN</button>
		</br> <a href="">Forgot Password?</a>
		<h2>New User</h2>
		<button type="submit">SIGN UP</button>
	</form>
	</br>
	<p>{{greeting}}</p>
	<script src="userCtrl.js"></script>
</body>
</html>